*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg:            #050507;
  
  --surface:       #0F0F14;   /* Cards, navbar */
  --surface-2:     #15151D;   /* Elevated surfaces */
  --surface-3:     #1C1C28;   /* Hover state */

  --accent:        #A855F7;   /* Primary purple */
  --accent-hover:  #C084FC;
  --accent-soft:   #D8B4FE;
  --accent-dark:   #7E22CE;
  --accent-line:   #757575;
  --accent-border: pink;

  --text:          #E8E8E0;   /* Headings */
  --text-soft:     #B68CFF;   /* Main paragraphs */
  --text-page:     #B68CFFC2;
  --text-active:   #B68CFF;
  --text-secondary:#AAA4B4;   /* Supporting text */
  --text-black:    #121212;
  --text-caption:  #E8E8E8AB;   /* Captions */
  --muted:         #A7A7A7;
  --disabled:      #5B5B6F;

  --border:        #A955F7; /* Primary Border */
  --border-dark:   #a955f767;
  --border-semi-light: #a955f7a0;
  --border-active:  #A955F7D9;
  --border-hover: #C084FC;
  --corner-bracket: #b769ff;

  --glow-sm:       rgba(168, 85, 247, 0);
  --glow-md:       rgba(168, 85, 247, 0.1);
  --glow-lg:       rgba(168, 85, 247, 0.45);

  --success: #22C55E;
  --warning: #F59E0B;
  --danger:  #EF4444;

  --font-mono: 'Martian Mono', monospace;
  --font-cond: 'Barlow Condensed', sans-serif;
  --font-body: 'Geist', sans-serif;
}

html { scroll-behavior: smooth; }

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-body);
  overflow-x: hidden;
}

h1, h2, h3 { font-family: var(--font-mono); }

::selection { background: var(--accent); color: var(--bg); }

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: var(--bg); }
::-webkit-scrollbar-thumb { background: var(--border-hi); }

.grid-bg {
  position: fixed;
  inset: 0;
  background-image:
    linear-gradient(rgba(79,195,247,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(79,195,247,0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none;
  z-index: 0;
}

::placeholder {
  color: #a7a7a7 !important;
  opacity: 1;
}